
<mat-toolbar color="primary">
  <span>Fuctura Imobiliária</span>
  <span class="spacer"></span>

  <div class="desktop-menu">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/cadastro">Cadastrar locatário</a>
    <a mat-button routerLink="/imovel-list">Lista de imóveis</a>
    <a mat-button routerLink="/about">Sobre nós</a>
  </div>

  <div class="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/home">Home</a>
      <a mat-menu-item routerLink="/cadastro">Cadastrar locatário</a>
      <a mat-menu-item routerLink="/imovel-list">Lista de imóveis</a>
      <a mat-menu-item routerLink="/about">Sobre nós</a>
    </mat-menu>
  </div>
</mat-toolbar>
