<div class="container">
  <h1>Imóveis Disponíveis</h1>
   <a mat-fab extended color="primary" routerLink="/imovel/cadastro">
      <mat-icon>add</mat-icon>
      Adicionar novo imóvel
    </a>

  @if (imoveis().length > 0) {
    <div class="imovel-grid">
      @for (imovel of imoveis(); track imovel.id) {
        <mat-card class="imovel-card">
          <mat-card-header>
            <mat-card-title>{{ imovel.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ imovel.endereco }}</mat-card-subtitle>
          </mat-card-header>
           <img
         mat-card-image
         [src]="imovel.image"
         [alt]="'Foto de ' + imovel.titulo"
         width="200"
         height="100"
          >

        <mat-card-content>
            <mat-chip-listbox>
              <mat-chip
                [color]="imovel.status === 'disponivel' ? 'primary' : 'warn'"
                selected
              >
                {{ imovel.status }}
              </mat-chip>
            </mat-chip-listbox>
            <p>
              <strong>Quartos:</strong> {{ imovel.numeroQuartos }} <br />
              <strong>Aluguel:</strong> {{ imovel.valorAluguel | currency: 'BRL' }} / mês
            </p>
          </mat-card-content>

          <mat-card-actions>
  <a mat-button [routerLink]="['/imovel/detalhe', imovel.id]">
    VER DETALHES
  </a>
  <a mat-button color="primary" [routerLink]="['/imovel/edit', imovel.id]">
    EDITAR
  </a>
</mat-card-actions>
        </mat-card>
      }
    </div>
  } @else {
    <div class="empty-state">
      <p>Nenhum imóvel cadastrado ainda.</p>
    </div>
    }
  </div>


