
.cadastro-container {
  // Centraliza o card na página com um espaçamento no topo e embaixo
  margin: 36px auto;
  padding: 0 5px; // Adiciona um respiro nas laterais em telas pequenas
  width: 100%;
  max-width: 400px;
}

mat-card {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
