.cadastro-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d0e77c;
}

.cadastro-container {
  width: 100%;
  max-width: 400px;
}

mat-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
