.edit-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}

.actions-spacer {
  flex: 1 1 auto; /* Este é o truque que cria o espaço flexível */
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem; // Adiciona um espaço acima do campo de upload
  margin-bottom: 1rem;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: cover;
}
