.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px;
  min-height: 70vh;
}

.welcome-text {
  max-width: 500px;

  h1 {
    font-size: 1.7em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
}

.welcome-image img {
  max-width: 400px;
  border-radius: 8px;
}
